<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a id="navbar-brand" class="navbar-brand btn text-white" href="#">NUWS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a id="nav-btn" class="nav-link text-dark btn btn-light" href="/scrape">Scrape New Articles</a>
      </li>
      <li class="nav-item">
        <a id="nav-btn" class="nav-link text-dark btn btn-light" href="#">Clear Articles</a>
      </li>
    </ul>

  </div>
</nav>

<div class="jumbotron jumbotron-fluid text-center text-light shadow mb-5 rounded">
  <div class="container">
    <h1 class="display-4">NUWS Aggregator</h1>
    <p class="lead"><i>Wildcat News, Research, Happenings</i></p>
  </div>
</div>

<div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9">
        <div class="row">
          {{#each articles}}
          <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-9 col-md-9">
                  <div class="card-text">
                    <a href="{{link}}">{{title}}</a>

                    <div class="col align-right" style="color:brown">
                      <button id="article-btn" class="btn btn-primary"> Take a Note </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{/each}}

        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        {{#each notes}}
        {{/each}}
      </div>

    </div>
  </div>
  <div id="notes"></div>
</div>


{{!-- Modal --}}
{{!-- <div id="results-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title"><strong>Table Reserved</strong></h2>
      </div>
      <div class="modal-body">
        <h2 id="table-name"></h2>
        <img id="table-img" alt="">
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div> --}}